:root {
    --primary-color: #6C3483;
    --secondary-color: #80F0C0;
    --tertiary-color: #FFDF00;
}

body {
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 a {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    border-radius: 30px;
}

h1 a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#start-quiz {
    
}

h2 {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 30px;
    font-size: 45px;
    border-radius: 40px;
}

#timer {
    display: flex;
    margin: 20px;
    font-size: 20px;
    border-color: var(--primary-color);
    border: 5px double var(--primary-color);
    width: 190px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: center;
    color: #ff1493;
    border-radius: 100px;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 50px; */
    font-size: 30px;
    color: var(--tertiary-color);
}

ul li {
    background-color: var(--primary-color);
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    list-style: none;
    cursor: pointer;
}

ul li:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 20px;
}

button {
    margin: 40px;
    text-decoration: none;
}